<app-header></app-header>



<div class="container-fluid d-flex flex-row">
  <div class="row"> 

    <main class="main col">
      <div class="row justify-content-center aling-content-center text-center">
        <div class="columna col-lg-8">
        

          <div class="container-fluid-contenido ">
            <div class="row ">
            <h1>Menu Principal</h1>

            <nav>
              <div class="col-md-12">


                <a [routerLink]="ROUTER_APP.CONSULTAR_PRODUCTOS" class="d-inline-block">
                  <img src="../../../assets/Productos.png" alt="productos" class="img-fluid"  width="250px" />
                </a>
                <a [routerLink]="ROUTER_APP.CONSULTAR_CLIENTES" class="d-inline-block">
                  <img src="../../../assets/Clientes.png" alt="clientes" class="img-fluid" width="250px" />
                </a>
                <ng-template class="container m-4 p-3" [appPermisos]="['ADMIN']">
                  <a [routerLink]="ROUTER_APP.CONSULTAR_USUARIOS" class="d-inline-block">
                    <img src="../../../assets/Usuarios.png" alt="usuarios" class="img-fluid" width="250px" />
                  </a>
                
                </ng-template>
                <a [routerLink]="ROUTER_APP.CONSULTAR_VENTAS" class="d-inline-block">
                  <img src="../../../assets/Ventas.png" alt="ventas" class="img-fluid" width="250px" />
                </a>

                <ng-template class="container m-4 p-3" [appPermisos]="['ADMIN']">
                
                  <a [routerLink]="ROUTER_APP.INFORME_VENTAS" class="d-inline-block">
                    <img src="../../../assets/informes.png" alt="Informes" class="img-fluid" width="250px" />
                  </a>
                
                </ng-template>
                <ng-template class="container m-4 p-3" [appPermisos]="['ADMIN']">
                
                  <a [routerLink]="ROUTER_APP.CONSULTAR_OPORTUNIDADES" class="d-inline-block">
                    <img src="../../../assets/oportunidades.png" alt="Informes" class="img-fluid" width="250px" />
                  </a>
                
                </ng-template>
              </div>
              

              
            </nav>
          </div>
          </div>

         
        </div>
      </div>
    </main>
  </div>
  <div class="row"></div>
</div>



<app-footer></app-footer>
