

<nav class="navbar navbar-light bg-light ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" alt="imagen">
      
      <img src="./assets/logoIni.png" alt="logo" width="58px" />
    
    </a>
    
    
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
    >
    <span class="navbar-toggler-icon"></span>
    <img src="./assets/login.png" alt="login" width="58px" />
    </button>
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
          Offcanvas
        </h5>
        <button
          type="button"
          class="btn-close text-reset"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="#"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="dropdownId"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >Dropdown</a
            >
            <div
              class="dropdown-menu"
              aria-labelledby="dropdownId"
            >
              <a class="dropdown-item" href="#"
                >Action 1</a
              >
              <a class="dropdown-item" href="#"
                >Action 2</a
              >
            </div>
          </li>
        </ul>
        <form class="d-flex">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">
            Search
          </button>
        </form>
      </div>
    </div>
  </div>
</nav>


<div class="container-fluid">
  <div class="row">
    <div class="bar-vertical col-4 col-sm-auto">
      <nav class="menu d-flex d-sm-block justifi-content-center flex-wrap">
        <a href="consultarCliente"> <span>Gestion de clientes</span></a>
        <a href="consultar-usuarios"><span>Gestión de usuarios </span></a>
        <a href="consultar-usuarios"><span>Gestión de ventas</span></a>
        <a href="eliminar-usuarios"> <span> Gestión de productos </span></a>
        <a href="/">Cerrar sesión</a>
      </nav>
    </div>

    <main class="main col">
      <div class="row justify-content-center aling-content-center text-center">
        <div class="columna col-lg-8">
          <h1>CONTENIDO</h1>
        </div>
      </div>
    </main>
  </div>
  <div class="row"></div>
</div>

<!-- <nav class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid" >
    <a class="navbar-brand" href="#">
      <img src="./assets/logoIni.png" alt="logo" width="58px">
      Video Game Tech CRM

    </a>
    <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasNavbar"
    aria-controls="offcanvasNavbar"
  >
Usuario 5
  <img src="./assets/login.png" alt="login" width="58px" >

  

  </button>
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
          Offcanvas
        </h5>
        <button
          type="button"
          class="btn-close text-reset"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="#"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="dropdownId"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >Dropdown</a
            >
            <div
              class="dropdown-menu"
              aria-labelledby="dropdownId"
            >
              <a class="dropdown-item" href="#"
                >Action 1</a
              >
              <a class="dropdown-item" href="#"
                >Action 2</a
              >
            </div>
          </li>
        </ul>  
      </div>
    </div>
  </div>
</nav>


 -->

<!-- <ul>
  <li>
    <div class="dropdown">
      <a>Administrar usuarios</a>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-rolodex" viewBox="0 0 16 16">
        <path d="M8 9.05a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
        <path d="M1 1a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h.5a.5.5 0 0 0 .5-.5.5.5 0 0 1 1 0 .5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5.5.5 0 0 1 1 0 .5.5 0 0 0 .5.5h.5a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H6.707L6 1.293A1 1 0 0 0 5.293 1zm0 1h4.293L6 2.707A1 1 0 0 0 6.707 3H15v10h-.085a1.5 1.5 0 0 0-2.4-.63C11.885 11.223 10.554 10 8 10c-2.555 0-3.886 1.224-4.514 2.37a1.5 1.5 0 0 0-2.4.63H1z"/>
      </svg>
      <div class="dropdown-content">
        <nav>
          <a href="crear-usuario">Crear</a>
          <a href="consultar-usuarios">consultar</a>
          <a href="editar-usuarios">Editar</a>
          <a href="eliminar-usuarios">Eliminar</a>
          <a href="/">Cerrar sesión</a>
        </nav>
      </div>
    </div>
  </li>

  <li>
    <div class="dropdown-prod">
      <a routerLink="productos">Productos</a>

      <div class="dropdown-content-prod">
        <a href="crearProducto">Crear</a>
        <a href="consultarProducto">consultar</a>
        <a href="editarProducto">Editar</a>
        <a href="eliminarProducto">Eliminar</a>
      </div>
    </div>
  </li>
  <li>
    <div class="dropdown-vent">
      <a routerLink="productos">Ventas</a>

      <div class="dropdown-content-vent">
        <a href="informeVentas">Informe de ventas</a>
        <a href="consultaVentas">consultar</a>
        <a href="editarVenta">Editar</a>
        <a href="eliminarVenta">Eliminar</a>
      </div>
    </div>
  </li>


  <li>
    <div class="dropdown-cliente">
      <a>Administración de clientes</a>
      <div class="dropdown-content-cliente">
        <a href="crearCliente">crear cliente</a>
        <a href="consultarCliente">consultar cliente</a>
        <a href="editarCliente">Editar cliente</a>
        <a href="eliminarCliente">Eliminar cliente </a>
      </div>

      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-bounding-box" viewBox="0 0 16 16">
        <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5M.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5"/>
        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
      </svg>
    </div>
  </li>
</ul>



<div class="container">

  <img src="./assets/image CRM.avif" alt="crm">

</div> -->

<app-footer></app-footer>
