.container {
  margin: 0;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
}

input,
textarea {
  margin-bottom: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button {
  text-decoration: none;
  text-align: center;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

button:hover {
  background-color: #0056b3;
}
