<header>  
<nav class="navbar navbar-light bg-succes static-top" >
  <div class="container-fluid" >
    <a class="navbar-brand" href="#">
      <img src="./assets/logoIni.png" alt="logo" width="58px">
      Video Game Tech CRM
    
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
    >
    Inició de sesión
    <img src="./assets/login.png" alt="login" width="58px" >

    

    </button>
    <!-- Menu desplegable el start es pa posición start a la derecha y end a la izquierda -->
    <div
     class="offcanvas offcanvas-start"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
          Login
        </h5>
        <button
          type="button"
          class="btn-close text-reset"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <app-login></app-login>
    </div>
  </div>
</nav>

</header>  


 