<header>  
<nav class="navbar navbar-light bg-light ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" alt="imagen">
      
      <img src="./assets/logoIni.png" alt="logo" width="58px" />
    
    </a>
    
    
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
    >
    {{nombreUsuario}}
    <img src="./assets/login.png" alt="login" width="58px" />
    <span class="navbar-toggler-icon"></span>
    
    </button>
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
          <!-- Mostrar usuario logeado -->
          {{nombreUsuario}}
          
          
        </h5>
        <button
          type="button"
          class="btn-close text-reset"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          
        
        </ul>

        <button (click)="cerrarSesion() " class="btn btn-outline-danger"><b>Cerrar sesión</b></button>


      </div>
    </div>
  </div>
</nav>

</header>  


 