<app-header></app-header>

<div class="container-fluid">
  <div class="row">
    <div class="bar-vertical col-4 col-sm-auto">
      <nav class="menu d-flex d-sm-block justifi-content-center flex-wrap">
        <a [routerLink]="ROUTER_APP.CONSULTAR_OPORTUNIDADES"> <span>Volver</span></a>
      </nav>
    </div>

    <main class="main col">
      <div class="columna col-12 ">
        <div>
          <!-- Aqui va el contenido de la pagina  -->
          <div class="container" >
            <div class="row">
              <h2 class="text-center mt-4">
                Formulario de creación de nueva oportunidad comercial
              </h2>
              <div class=" mx-auto">
                
                  <app-stepper [linearModeSelected]="false" #appStepper>
                    <cdk-step [label]="'Información Oportunidad'">

                      <app-info-oportunidad
                        (valoresFormulario)="recibirInfoBasicaOportunidad($event)"
                      ></app-info-oportunidad>
                      
                    </cdk-step>

                    <cdk-step [label]="'Información cliente'">
                      <app-info-cliente-oportunidad
                        (valoresFormulario)="recibirInfoClienteOportunidad($event)"
                      ></app-info-cliente-oportunidad>
                    </cdk-step>
                    <cdk-step [label]="'Información producto'">
                      <app-info-producto-oportunidad
                        (valoresFormulario)="recibirInfoProductoOportunidad($event)"
                      ></app-info-producto-oportunidad>
                    </cdk-step>
                   
                    
                    <cdk-step [label]="'fin'">
                      <app-fin-oportunidad></app-fin-oportunidad>
                      <button type="button" (click)="crearOportunidad()" class="btn btn-outline-primary">
                        Crear Producto
                      </button>
                    </cdk-step>
                  </app-stepper>
               
              </div>
            </div>
          </div>
          <!-- Aqui termina el contenido de la pagina -->
        </div>
      </div>
    </main>
  </div>
</div>






<!-- <div class="container-fluid">
  <div class="row">
    <div class="bar-vertical col-4 col-sm-auto">
      <nav class="menu d-flex d-sm-block justifi-content-center flex-wrap">
        <a [routerLink]="ROUTER_APP.CONSULTAR_OPORTUNIDADES">
          <span>Volver</span></a
        >
      </nav>
    </div>
    <main class="main col">
      <div class="columna col-12">
        <div>
         
          <div class="container">
            <div class="row">
              <h2 class="text-center mt-4">
                Formulario de creación de nueva oportunidad Comercial
              </h2>
              <div class="mx-auto">
                <form
                  [formGroup]="oportunidadComercialForm"
                >
                  <label for="oportunidad">Oportunidad:</label>
                  <input
                    type="text"
                    formControlName="oportunidad"
                    placeholder="Ingrese la oportunidad comercial"
                  />

                  <label for="cliente"
                    >Elija al cliente de la base de datos:</label
                  >
                  <select
                  class="form-control"
                  formControlName="cliente"
                 >
                  @for (cliente of clientes; track $index) {
                  <option [value]="cliente">{{ cliente.nombres }}</option>
                  }
                </select>

                  <label for="producto"
                    >Elija el producto de la base de datos:</label
                  >
                  <select
                  class="form-control"
                  formControlName="producto"
                 >
                  @for (producto of productos; track $index) {
                  <option [value]="producto">{{ producto.nombre }}</option>
                  }
                </select>

                  <label for="gestion">Ingrese la gestión a asignar:</label>
                  <input
                    type="text"
                    formControlName="gestion"
                    placeholder="Ingrese la gestion"
                  />

                  <button type="button" (click)="crearOportinidad()">Crear Gestion Comercial</button>


                </form>
              </div>
            </div>
          </div>
       
        </div>
      </div>
    </main>
  </div>
</div> -->
