<app-header></app-header>

<div class="container-fluid">
  <div class="row">
    <div class="bar-vertical col-4 col-sm-auto">
      <nav class="menu d-flex d-sm-block justifi-content-center flex-wrap">
        <a [routerLink]="ROUTER_APP.CONSULTAR_CLIENTES"> <span>Volver</span></a>
      </nav>
    </div>

    <main class="main col">
      <div class="columna col-12 ">
        <div>
          <!-- Aqui va el contenido de la pagina  -->
          <div class="container" >
            <div class="row">
              <h2 class="text-center mt-4">
                Formulario de vinculación Cliente Nuevo
              </h2>
              <div class=" mx-auto">
                
                  <app-stepper [linearModeSelected]="false" #appStepper>
                    <cdk-step [label]="'InformationBasica'">
                      <app-informacion-basica
                        (valoresFormulario)="recibirInfoBasica($event)"
                      ></app-informacion-basica>
                    </cdk-step>
                    <cdk-step [label]="'Contacto'">
                      <app-informacion-contacto
                        (valoresFormulario)="recibirInfoContacto($event)"
                      ></app-informacion-contacto>
                    </cdk-step>
                    <cdk-step [label]="'financiera'">
                      <app-informacion-financiera
                        (valoresFormulario)="recibirInfoFinanciera($event)"
                      ></app-informacion-financiera>
                    </cdk-step>
                    <cdk-step [label]="'fin'">
                      <app-fin-formulario></app-fin-formulario>
                      <button type="button" (click)="crearCliente()" class="btn btn-outline-primary">
                        Crear Cliente
                      </button>
                    </cdk-step>
                  </app-stepper>
               
              </div>
            </div>
          </div>
          <!-- Aqui termina el contenido de la pagina -->
        </div>
      </div>
    </main>
  </div>
</div>
