<app-header></app-header>

<div class="container-fluid">
  <div class="row">
    <div class="bar-vertical col-4 col-sm-auto">
      <nav class="menu d-flex d-sm-block justifi-content-center flex-wrap">
        <a [routerLink]="ROUTER_APP.CREAR_USUARIOS">
          <span>Vincular usuario nuevo</span></a
        >

        <a [routerLink]="ROUTER_APP.DASHBOARD">Volver</a>
      </nav>
    </div>

    <main class="main col-10">
      <div class="columna col-12 container-fluid">
        <div class="table-responsive table-responsive-lg">
          <h1 class="text-center">Usuarios GamesTech CRM</h1>
          <table class="table table-primary table-striped">
            <thead id="encabezado">
              <tr class="table-primary">
                <th>Id</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Fecha de nacimiento</th>
                <th>Ciudad de nacimiento</th>
                <th>tipo de Documento</th>
                <th>numero de Documento</th>
                <th>Pais de expedición</th>
                <th>Ciudad de expedición</th>
                <th>Fecha de expedición</th>
                <th>Estado civil</th>
                <th>direccion</th>
                <th>Ciudad de residencia</th>
                <th>Departamento de residencia</th>
                <th>telefono</th>
                <th>email</th>
                <th>Login</th>
                <th>Rol</th>
                <th>Actualizar Rol</th>
                <th>estado</th>
                <th>acciones</th>
              </tr>
            </thead>
            <tbody>
              @for (usuario of usuarios; track $index) {
              <tr>
                <td>{{ usuario._id }}</td>
                <td>{{ usuario.nombres }}</td>
                <td>{{ usuario.apellidos }}</td>
                <td>{{ usuario.fechaNacimiento }}</td>
                <td>{{ usuario.ciudadNacimiento }}</td>
                <td>{{ usuario.tipoDocumento }}</td>
                <td>{{ usuario.numeroDocumento }}</td>
                <td>{{ usuario.paisExpedicion }}</td>
                <td>{{ usuario.ciudadExpedicion }}</td>
                <td>{{ usuario.fechaExpedicion }}</td>
                <td>{{ usuario.estadoCivil }}</td>
                <td>{{ usuario.direccion }}</td>
                <td>{{ usuario.ciudadResidencia }}</td>
                <td>{{ usuario.departamentoResidencia }}</td>
                <td>{{ usuario.telefono }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.login }}</td>
                <td>{{ usuario.rol }}</td>

                <td>
                  <select
                    class="form-control"
                    [(ngModel)]="usuario.rol"
                    (change)="actualizarRol(usuario)"
                  >
                    @for (rol of roles; track $index) {
                    <option [value]="rol">{{ rol }}</option>
                    }
                  </select>
                </td>
                <td>{{ usuario.estado }}</td>

                <td>
                  <button
                    type="button"
                    class="btn btn-info"
                    (click)="editarUsuarios(usuario._id)"
                  >
                    Editar
                  </button>
                  
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="eliminarUsuario(usuario._id)"
                  >
                    Eliminar
                  </button>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </div>
</div>
